<div class="edit-item-form" *ngIf="selected_item">
    <h2>Edit Item</h2>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Movie Title:</mat-label>
            <input #title matInput type="text" value="{{selected_item.movie_title}}" required>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Media Type:</mat-label>
            <mat-select [(value)]="type_select" [(ngModel)]="type_select" name="type" required>
              <mat-option [value]="1">VHS</mat-option>
              <mat-option [value]="2">DVD</mat-option>
              <mat-option [value]="3">LASERDISC</mat-option>
            </mat-select>
          </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Number in Stock:</mat-label>
            <input #num_stock matInput value="{{selected_item.number_in_stock}}" required>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Rental Rate:</mat-label>
            <input #rate matInput value="{{selected_item.rental_rate}}" required>
        </mat-form-field>
        <br />
        <button class="edit-form-button" mat-flat-button color="primary" type="button" (click)="saveItem(title.value, num_stock.value, rate.value)">Save Item</button><br />
        <button class="edit-form-button" mat-stroked-button type="button" (click)="deleteItem()">Delete Item</button><br />
        <button class="edit-form-button" type="button" mat-stroked-button routerLink="/inventory">Cancel</button><br />
    </form>
</div>
<div class="edit-item-form" *ngIf="!selected_item">
    <p>Item information unavailable.</p>
</div>