<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>{{title}}</p>
    <mat-divider></mat-divider><br />
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="/inventory" role="">Inventory</mat-list-option>
      <mat-list-option routerLink="/addItem">Add Item</mat-list-option>
      <mat-list-option *ngIf="window.sessionStorage.getItem('logged_in') === 'false'" routerLink="/login">Login</mat-list-option>
      <mat-list-option *ngIf="window.sessionStorage.getItem('logged_in') === 'true'" (click)="logout()" >Logout</mat-list-option>
      <mat-list-option routerLink="/rentals">Rentals</mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div>
    <button type="button" class="toggle-nav-button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
